#app {
  min-height: 100vh;
  line-height: 2rem;
  max-width: 100%;
}

:root {
  --text-color: #343a40;
  --text-secondary-color: #6c757d;
  --background-color: #eaedf0;
  --secondary-background-color: #64ffda1a;
  --primary-color: #007bff;
  --secondary-color: #f8f9fa;
  --text-color-dark: #e4e6eb;
  --text-secondary-color-dark: #b0b3b8;
  --background-color-dark: #18191a;
  --secondary-background-color-dark: #212529;
  --primary-color-dark: #ffffff;
  --secondary-color-dark: #212529;
}

.light > * {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}
.dark {
    --background-color: var(--background-color-dark) !important;
    --secondary-background-color: var(--secondary-background-color-dark) !important;
    --text-color: var(--text-color-dark) !important;
    --text-secondary-color: var(--text-secondary-color-dark) !important;
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
}