:root {
  --text-color: #343a40;
  --text-secondary-color: #6c757d;
  --background-color: #eaedf0;
  --secondary-background-color: #64ffda1a;
  --primary-color: #007bff;
  --secondary-color: #f8f9fa;
  --text-color-dark: #e4e6eb;
  --text-secondary-color-dark: #b0b3b8;
  --background-color-dark: #18191a;
  --secondary-background-color-dark: #212529;
  --primary-color-dark: #ffffff;
  --secondary-color-dark: #212529; 
  }

.light {
  --tc: var(--text-color);
  --tc2: var(--text-secondary-color);
  --bg: var(--background-color);
  --bg2: var(--secondary-background-color);
  --pc: var(--primary-color);
  --sc: var(--secondary-color);
}

.dark {
  --tc: var(--text-color-dark);
  --tc2: var(--text-secondary-color-dark);
  --bg: var(--background-color-dark);
  --bg2: var(--secondary-background-color-dark);
  --pc: var(--primary-color-dark);
  --sc: var(--secondary-color-dark);
}

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--tc);
}

.navbar{
  height: 90px;
  width: 100%;
  background: var(--bg);
  color: var(--tc);
  display: flex;
  align-items: center;
}

.navbar-mjleedev{
  color: var(--pc);
  font-family: "Alata", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  margin: 1em 3em;
}

.navbar-room-form{
  width: 100%;
  text-align: center;
}

.navbar-room-input{
  margin-right: 200px;
  padding: 0.5em;
  height: 100%;
  background-color: var(--bg2);
  border: 1px solid var(--tc2);
  color: var(--tc);
  border-radius: 0.4em;
  box-shadow: 0px 8px 56px rgb(15 80 100 / 5%)
}

@media screen and (max-width: 768px) {
  .navbar-room-input {
    margin-right: 0px;
  }
}

ul {
  list-style-type: none;
}

.chat-container{
  margin: auto;
  height: 80%;
  width: 40%;
  border-radius: 0.7em;
  border: 1px solid var(--tc2);
  background-color: var(--bg2);
  display: flex;
  flex-direction: column;
  transition: ease all .5s;
}

@media screen and (max-width: 1200px) {
  .chat-container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .chat-container {
    width: 80%;
  }
}

.chat-messages{
  flex:9;
  width: 100%;
  overflow:auto;
  font-size: 1.3em;
  color: var(--tc);

}

.chat-form{
  width: 100%;
  display: flex;
}

.chat-text-container{
  width: 100%;
}

.chat-text{
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  resize: none;
  border-bottom-left-radius: 0.7em;
  font-size: 1.3em;
  background-color: var(--bg2);
  color: var(--tc);
  border: 1px solid var(--tc2);
}

.chat-button{
  border-bottom-right-radius: 0.7em;
  border: 1px solid var(--tc2);
  background-color: var(--bg2);
  color: var(--tc);

}
.hide-scrollbar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
::placeholder {
  color:  var(--tc);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:  var(--tc);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color:  var(--tc);
}