:root {
  --text-color: #343a40;
  --text-secondary-color: #6c757d;
  --background-color: #eaedf0;
  --secondary-background-color: #64ffda1a;
  --primary-color: #007bff;
  --secondary-color: #f8f9fa;
  --text-color-dark: #e4e6eb;
  --text-secondary-color-dark: #b0b3b8;
  --background-color-dark: #18191a;
  --secondary-background-color-dark: #212529;
  --primary-color-dark: #ffffff;
  --secondary-color-dark: #212529; 
  }

.light {
  --tc: var(--text-color);
  --tc2: var(--text-secondary-color);
  --bg: var(--background-color);
  --bg2: var(--secondary-background-color);
  --pc: var(--primary-color);
  --sc: var(--secondary-color);
}

.dark {
  --tc: var(--text-color-dark);
  --tc2: var(--text-secondary-color-dark);
  --bg: var(--background-color-dark);
  --bg2: var(--secondary-background-color-dark);
  --pc: var(--primary-color-dark);
  --sc: var(--secondary-color-dark);
}

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--tc);
}
ul {
  list-style-type: none;

}
#container{
  position: absolute;
  height: 80vh;
  width: 30vw;
  /* border: 0.15em solid var(--pc); */
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: var(--bg2)
}

#messages{
  flex-grow:9;
  width: 100%
}

#input{
  width: 100%
}
#form{
  flex-grow:1;
  width: 100%;
  display: flex;
}